<!DOCTYPE>
<html lang="en" html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Title onlynumber</title>
</head>
<body>
<br/>
<br/>
<div>
	<pre><code>&lt;input type="text" name="testabc" ng-model="testabc" vm-keyfilter="/\d/"> </code></pre>
</div>
<br/>
<input type="text" name="testabc" ng-model="testabc" vm-keyfilter="/\d/">  <span>{{testabc}}</span>
<input type="text" name="testabc2" ng-model="testabc2" vm-keyfilter="/[a-z0-9_]/i">  <span>{{testabc2}}</span>

<script src="../docs/js/angular.js"></script>
<script src="../src/exports.js"></script>
<script src="../src/vm-keyfilter.js"></script>
<script type="text/javascript">
	angular.module("app", ['vm2.utils']);
</script>
</body>
</html>