<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title ui-amount</title>
</head>
<body>
<div ng-controller="testCtrl">
	<div>
		type="text":<input type="text" name="testabc1" ng-model="testabc1" vm-amount>  <span>{{testabc1}}</span>
		<br/>
		<br/>
		type="text":<input type="text" name="testabc2" ng-model="testabc2" vm-amount mode="8.2" decimals="2" formatting="false">  <span>{{testabc2}}</span>
		<br/>
		<br/>
	</div>
</div>
<script src="../docs/js/angular.js"></script>
<script src="../src/exports.js"></script>
<script src="../src/vm-amount.js"></script>
<script type="text/javascript">
	angular.module("app", ['vm2.utils']).controller("testCtrl", ["$scope", function ($scope) {
		$scope.testabc1 = 12345.89;
		$scope.startup = function () {

		};
		$scope.$watch('testabc3', function (newValue) {
			console.log(newValue);
		});
		$scope.$watch('testabc2', function (newValue) {
			console.log(newValue);
		});

		$scope.test = function () {
			console.log($scope);
		};
	}]);

	angular.bootstrap(document, ['app']);
</script>
</body>
</html>