<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title onlynumber</title>
</head>
<body>
<div ng-controller="testCtrl">
	<div>
		<div>
			<pre><code>&lt;input type="text" name="testabc" ng-model="testabc" vm-onlynumber max="12"></code></pre>
		</div>
		<br/>
		<input type="text" name="testabc" ng-model="testabc" vm-onlynumber max="12">  <span>{{testabc}}</span>
		<br/>
		<br/>
	</div>
	<div>
		<pre>
			<code id="result"></code>
		</pre>
	</div>
</div>
<script src="../js/angular.js"></script>
<script src="../src/exports.js"></script>
<script src="../src/vm-onlynumber.js"></script>
<script type="text/javascript">
	angular.module("app", ['vm2.utils']).controller("testCtrl", ["$scope", function ($scope) {
		$scope.startup = function () {

		};
		$scope.$watch("testabc", function (newVal) {
			var type=typeof  newVal;
			document.getElementById("result").innerHTML = type+':'+newVal;
		},true);

		$scope.test=function () {
			console.log($scope.testabc2);
		}
	}]);

	angular.bootstrap(document, ['app']);
</script>
</body>
</html>