<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div ng-controller="testCtrl">
	<div>
		<input type="text" name="testabc1" ng-model="testabc1" ui-amount>  <span>{{testabc}}</span>
		<br/>
		<br/>
		<br/>
		<input type="text" name="testabc2" ng-model="testabc2" ui-amount mode="5.1" decimals="6" formatting="false">  <span>{{testabc}}</span>
		<br/>
		<br/>
	</div>
	<button type="button" ng-click="test()">test</button>
</div>
<script src="../js/angular.js"></script>
<script src="../src/ui-amount.js"></script>
<script type="text/javascript">
	angular.module("app", ['vm2.utils']).controller("testCtrl", ["$scope", function ($scope) {
		$scope.startup = function () {

		};
		$scope.$watch('testabc', function (newValue) {
			console.log(newValue);
		});

		$scope.test = function () {
			console.log($scope);
		};
	}]);

	angular.bootstrap(document, ['app']);
</script>
</body>
</html>