<div class="numpad-wrapper">
    <div class="numpad">
        <div class="button-wrapper">
            <button vm-key="[CANCEL]" class="top-btn">取消</button>
            <input  ng-value="keybord.viewValue" readonly="true"/>
            <button vm-key="[OK]" class="top-btn">确定</button>
            <button vm-key="1" class="normal">1</button>
            <button vm-key="2" class="normal">2</button>
            <button vm-key="3" class="normal">3</button>
            <button vm-key="4" class="normal">4</button>
            <button vm-key="5" class="normal">5</button>
            <button vm-key="6" class="normal">6</button>
            <button vm-key="7" class="normal">7</button>
            <button vm-key="8" class="normal">8</button>
            <button vm-key="9" class="normal">9</button>
            <button vm-key="." class="normal">.</button>
            <button vm-key="0" class="normal">0</button>
            <button vm-key="[DELETE]" class="small">删除</button>
        </div>
    </div>
</div>